@import "tailwindcss";
@plugin '../src/shared/lib/hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --black: #1b1b1b;
  --white: #ffffff;
  --yellow: #ffc700;

  --background: var(--white);
  --foreground: var(--black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --black: #1b1b1b;
    --white: #ffffff;
    --yellow: #ffc700;

    --background: var(--white);
    --foreground: var(--black);
  }
}

@theme inline {
  --color-black: var(--black);
  --color-white: var(--white);
  --color-yellow: var(--yellow);

  --color-background: var(--background);
  --color-foreground: var(--foreground);  
  
  --font-sans: var(--font-inter);     
  --font-heading: var(--font-nunito); 
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}
